{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <h3>Currency list
                                    <small>It's a test work for future employee</small>
                                </h3>
                                 <p><a href="{{url_for('home')}}">Back</a></p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
